<div id="recipe-display" class="center container col s6">
</div>


<div class="container">
<form id="search-form" class="center input-field col s3" method="post" action="/recipes">
  <input type="text" name="keyword" placeholder="Is there anything you want to eat?">
  <input type="submit" class="waves-effect waves-light btn-large" value="Give me something to cook!">
</form>
</div>
